.home{
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-family: Impact;
    text-align: center;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px black;
}
.blocks{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.filter{
    background-color: rgba(255, 255, 255, 0.402);
    justify-content: start;
    margin: 10px;
    padding-top: 7px;
    width: 12rem;
    padding-bottom: 13px;
    font-family: Impact;
    border-radius: 15px;
    background: linear-gradient(225deg, #ffffff56, #69696938);
    box-shadow:  -9px 9px 18px #00000052,
             9px -9px 18px #ffffff00;
}

.cardContainer{

    width: 40rem;
    display: flex;
    flex-direction: row;
}