.container2{
    background-color: rgba(255, 255, 255, 0.192);
    margin: 10px;
    width: 15rem;
    height: 100%;
    padding: 0.01% 0%  1% 0%;
    font-family: Impact;
    justify-content: center;
    -webkit-text-fill-color: rgb(255, 255, 255); 
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    border-radius: 21px;
    font-size: 120%;
background: linear-gradient(225deg, #ffffff56, #69696938);
box-shadow:  -9px 9px 18px #00000052,
             9px -9px 18px #00000000;
    
}

.image2{
    padding: 10px;
    opacity: 1;
    width: 200px;
    height: 200px;
}

.image3{
    max-width: 700px;
    max-height: 500px;
    
}

.superconteiner{
    display: flex;
    justify-content: center;

}