
.image{
    padding: 10px;
    opacity: 1;
    width: 120px;
    height: 120px;
    transition: 0.2s;
}

.image4{
    position: relative;
    padding: 10px;
    opacity: 1;
    width: 120px;
    height: 120px;
    transition: 0.5s;
}

.image4:hover{
    transform: rotate(-5deg);
    transition: 0.5s;
}

.card {
    background-color: rgba(255, 255, 255, 0.466);
    margin: 10px;
    width: 12rem;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px black;
    font-family: Impact;
    position: relative;
    display: inline-block;
    transition: all .2s;
    border: none;
    border-radius: 15px;
    text-decoration: none;
background: linear-gradient(225deg, #ffffff56, #69696938);
box-shadow:  -9px 9px 18px #00000052,
             9px -9px 18px #ffffff00;
    
   }
   
   .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .card:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .card::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
.link{
    text-decoration: none;
}


.text{
    text-decoration: none;
}

.contenedorRedes{
    display: flex;
    justify-content: space-around;
    padding: 0% 20% 0% 20%;

}